<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">
</head>

<body>

    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg" class="logo" alt="">
            <div class="barra">
                <p>Buscar productos, marcas <i class="fas fa-search"></i></p>
            </div>
            <div class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        
      </header>
   
<main>
    
    
    <form action="/registro" method="POST" class="form">


        <div class="control-form">
            <label for="Nombre y apellido" class="title">Datos de usuarix</label>
        </div>

        <div class="control-form">
            <input type="text" name="fullname" placeholder="Nombre y apellido" class="control">
        </div>

        <div class="control-form">
            <input type="text" name="User" placeholder="Usuario" class="control">
        </div>

        <div class="control-form">
            <input type="text" name="birth" placeholder="Fecha de nacimiento" class="control">
        </div>

        <div class="control-form">
            <input type="email" name="email" placeholder="E-mail" class="control">
        </div>


        <div class="control-form">
            <label for=""  class="title">Perfil de usuarix:</label>
            <label for="">Comprador</label>
            <input type="radio" name"buyer">
            <label for="">Vendedor</label>
            <input type="radio" name"seller">
        </div>

        <div class="control-form">
            <label for="" class="title">Categorás de interés</label>
            <select name="categorias" class="control">
                <option value="comprador">Elecro</option>
                <option value="moda">Moda</option>
                <option value="hogar">Hogar</option>
                <option value="juegueteria">Jueguetería</option>
                <option value="vidasana">Vida sana</option>
            </select>
        </div>

            <div class="control-form">
                <label for="" class="title">Foto de usuarix</label>
            </div>
        
            <div class="control-form">
                <label for="" class="title">Contraseña</label>
            <input type="password" class="control">
                <label for="" class="title">Confirmar contraseña</label>
            <input type="password" class="control">
            </div>

        
            <button type="submit" class="button-form">Enviar</button>

            <button type="reset" class="button-form">Borrar todo</button>





    </form>


</main>






<footer>

    <div>

        <div>
            <i id="icon" class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <i id="icon" class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <i id="icon" class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

    </div>
    
<p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>

</body>
</html>