body{
    font-family: 'Roboto', sans-serif;
    background-color:#e6e6e6;
    margin: 0;
    color: #19191b;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*************************************************Header*************************************************/

header a:hover{
    color: #0022AA;
}

.main-header{
    background-color: #EAC926;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.main-header-top-bar{
    display: flex;
    justify-content: center space-around;
    align-items: center;
    width: 100%;
}

.logo{
    height: 80px;
    width: 23%;
}

.barra{
    text-align: center;
    color: black;
    width: 25%;
    background-color: #ebebeb;
    border: solid 1px black;
    border-radius: 3px;
    padding: 1px;
    height: 35px;
}

.main-header-bottom-bar ul{
    list-style: none;  
}

.main-header-bottom-bar a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

.first-nav-bar{
    padding-bottom: 10px;
}

.second-nav-bar{
    padding-bottom: 45px;
}

/*************************************************Main*************************************************/

.form{
    padding: 20px 20px;
}

.control-form{
    margin-bottom: 15px;
}

.control-form title{
    display: flex;
    flex-wrap: wrap;
}

.control{
    width: 50%;
    padding: 8px 8px;
}

.title{
    font-weight: bold;
    font-style: italic;
    padding: 5px;
}

.control1{
    width: 58%;
    padding: 8px 8px;
}

.categorias{
    padding-bottom: 10px;
}

.categorias input[type="checkbox"]:checked {
    box-shadow: 0 0 0 2px #EAC926;
}

.control-form-foto{
    display: grid;
    margin-bottom: 15px;
}

.button-form{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

/*************************************************Footer*************************************************/

footer{
    margin-bottom: 30%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    background-color: white;
    padding: 20px;
    width: 100%;
}

h4{
    font-size: 25;
}

.fas{
    font-size: 25;
}

.copy{
    font-size: 10px;
    text-align: left;
    padding-top: 20px;
}

#iconFooter{
    color: #1259c3;
    font-size: 2em; 
}

/*************************************************Querys*************************************************/

/*Mobile*/
@media (min-width: 1px){

    .descrip{
        visibility: hidden;
    }

    .main-header{
        padding-top: 5px;
    }
    
    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    .main-header-bottom-bar{
        display: flex;
        width: 100%;
        list-style: none;
        margin-top: 20px;
        align-content: center;
        justify-content: space-around;
    }

    .first-nav-bar{ 
        visibility: visible;
        display: flex;
        font-size: 11px;
    }

    .second-nav-bar{
        visibility: visible;
        display: flex;
        font-size: 11px;
    }

    .copy-header{
        display: flex;
        justify-content: space-around;
        visibility: hidden;
    }
    
    .logo{
        width: 50vw;
        margin: 0;
    }
    .barra{
        width: 50vw;
        font-size: 15px;
    }

    .burguer-menu{
        visibility: hidden;
    }

    .banner{
        width: 100%;    
    }

    .main section img{
       width: 100%;
       padding: 0;
    } 
    
    img{
        padding: 15px;
    }

    .box-producto{
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
    }
    .box-precio-descuento{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    
    .precio{
        width: 30vw;
        margin-left: 40px;
    }
    .descuento{
        width: 70vw;
        text-align: center;
    }

    .truck{
        display: flex;
    }
    
    h3{
        margin-left: 16px;
        font-size: 14px;
    }
}

/*Tablet*/
@media (min-width: 481px){

    .main-header{
        display: flex;
        flex-wrap: wrap;
    }

    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .logo{
        width: 30vw;
    }

    .barra{
        width: 25vw;
        font-size: 12px;
    }

    .copy-header-TABLET{
        width: 30vw;
        font-size: 12px;
        display: flex;
    }

    .copy-header{
        visibility: hidden;  
    }

    .main-header-bottom-bar{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }
    
    .first-nav-bar{
        visibility: visible;
        display: flex;
        list-style: none;
    }

    .second-nav-bar{
        visibility: visible;
        display: flex;
        list-style: none;
    }

    .lista{
        padding: 0px 5px;
        font-size: 14px;
    }
  
    .burguer-menu{
        visibility: hidden;
    }

    .big-box-productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-around;
    }

    .producto{
        width: 45vw;
    }

    h3{
        padding: 7px;
        text-align: left;
    }

    img{
        max-width: 100%;
        margin:1px;
    }

    .box-precio-descuento{
        width: 34vw;
        justify-content: space-between;
    }

    .precio{
        width: 30%;
        margin-left: -15px;
    }

    .descuento{
        width: 30%;
        margin-right: -35px;
    }

    .truck{
        display: contents;
        margin-left: 20px;
    }

    .descrip{
        width: 90%;
        visibility: visible;
        font-weight: lighter;
        margin-left: -15px;
    }

    #icon{
        font-size: 18px;
    }
}

/*Desktop*/
@media (min-width: 769px){

    .main-header{
        height: 130px;        
    }

    .main-header-top-bar{
        height: 80px;
    }

    .main-header-bottom-bar{
        justify-content: center;
        margin-top: 0;
    }

    .burguer-menu{
        display: none;
    }

    .big-box-productos{
        display: flex;
        flex-wrap: wrap;
    }

    .producto{
        width: 20%;
        padding: 5px;
        margin:auto;    
    }

    .container-footer{
        display: flex;
        flex-wrap: wrap;
    }

    .box-footer{
        width: 30vw;
    }

    #icon{
        font-size: 25px;
    }
    
    #icon:hover{
        color: #0022AA;
    }
}
